

#body {
  width: 80% ;
  margin-top: 50px;
  margin-left: auto ;
  margin-right: auto ;
}

/* Tablet Landscape */
@media screen and (max-width: 3060px) {
    #main { width:45%;   float: left; margin-left:auto;margin-right:auto;}
    #log { width:45%;   float: right; margin-left:auto;margin-right:auto;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #main { width:100%; }
    #log { width:100%; margin:0; }
}

h4{
  margin-left:-15px;
}

h5{
  margin-left:-15px;
}

.description{
  width:80%;
}

#selectRoles{
  line-height: 200%;
}

#selectRoles input[type="checkbox"]{
    position:relative;
    vertical-align:middle; 
    margin:0;

}

#selectRoles label{  
  width:150px;
  margin: 0;
    position:relative;
    display:inline-block;    
    vertical-align:middle; 
}

#actions input[type="checkbox"]{
    position:relative;
    vertical-align:middle; 
    margin:0;

}

#actions label{  
  width:150px;
  margin: 0;
    position:relative;
    display:inline-block;    
    vertical-align:middle; 
}

.hidden {
    display: none;
}

.night{
  background: #000000;   
  color: #ffffff;
}
