#body {
  width: 80% ;
  margin-top: 50px;
  margin-left: auto ;
  margin-right: auto ;
}


#main {
  width: 50% ;
  margin-left: px ;
  margin-right: auto ;
  float: left;
}

#log {
  width: 50% ;
  margin-left: auto ;
  margin-right: auto ;
  float: left;
}

h4{
  margin-left:-15px;
}

h5{
  margin-left:-15px;
}



#selectRoles{
  line-height: 200%;
}

#selectRoles input[type="checkbox"]{
    position:relative;
    vertical-align:middle; 
    margin:0;

}

#selectRoles label{  
  width:150px;
  margin: 0;
    position:relative;
    display:inline-block;    
    vertical-align:middle; 
}

#currentRoles {
  margin-top: 30px;
}

.hidden {
    display: none;
}

.night{
  background: #000000;   
  color: #ffffff;
}